# Timer to run ssd2hdds.sh 5 minutes after bootup and "often enough" afterwards.

[Unit]
Description=btrfs snapshot ssd contents to btrfs raid1 hdd array

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target
